<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Agregar Empleado</span>
          <form #empleadoForm="ngForm" (ngSubmit)="agregarEmpleado(empleadoForm)">
            <div class="input-field">
              <input type="text" name="name" #name="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.name" placeholder="Ingrese su nombre">
              <label for="name">Nombre</label>
            </div>
            <div class="input-field">
              <input type="text" name="position" #position="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.position" placeholder="Ingrese su cargo">
              <label for="position">Cargo</label>
            </div>
            <div class="input-field">
              <input type="text" name="office" #office="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.office" placeholder="Ingrese su lugar de trabajo">
              <label for="office">Lugar de Trabajo</label>
            </div>
            <div class="input-field">
              <input type="number" name="salary" #salary="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.salary" placeholder="Ingrese su salario">
              <label for="salary">Salario</label>
            </div>
          </form>
        </div>
        <div class="card-action">
          <button type="button" class="btn right" (click)="resetForm(empleadoForm)">Limpiar</button>
          <button type="submit" class="btn">Guardar</button>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <!-- Contenido de la columna siete -->
    </div>
  </div>
</div>
